@import url('./common.css');

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-dark);
  background-color: #fff;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header {
  border-bottom: 2px solid var(--color-gold);
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.header h1 {
  margin: 0;
  font: 400 50px/1.5 'Forum', serif;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-dark);
  color: var(--color-red);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.header h1:hover {
  color: var(--color-gold);
  transform: scale(1.02);
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.currentHero {
  display: flex;
  gap: 30px;
  font: 700 30px/1.5 'Forum', serif;
  margin-top: 30px;
}
.currentHero img {
  padding: 5px;
  border: 3px solid var(--color-gold); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.statWins {
  color: #2e7d32;
  text-shadow: 0 0 5px rgba(46, 125, 50, 0.3);
}
.statLoses {
  color: #d32f2f;
  text-shadow: 0 0 5px rgba(211, 47, 47, 0.3);
}

.changeAvatar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
  padding: 20px; 
  border: 3px solid var(--color-gold); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
}

.changeAvatar img {
  width: 200px;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.changeAvatar img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.changeAvatar img.selected {
  border: 3px solid var(--color-gold);
  box-shadow: 0 0 10px rgba(157, 134, 101, 0.7);
}
