:root {
  --color-dark: #030303;
  --color-red: #710707;
  --color-gold: #9d8665;
}

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  width: 100%;
}
